{% extends 'base.html' %}
{% block title %}Choice{% endblock %}


{% block content %}
    <h1>Remplir le formulaire</h1>
    <form action="#" method='post'>
        <div>
            <p>Choisissez l'attribut de decision et le type de probleme : </p>
            <select name="objectif">
                <option value="Minimisation">Minimisation</option>
                <option value="Maximisation">Maximisation</option>
            </select>
            <select name="decision">
                {% for i in table_attributs %}
                    <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select><br>
        </div>
        <h2>Choisissez vos condition (laisser vide si pas besoin)</h2>
        {% for j in table_attributs %}
            <div>
                <p>entré une valeur de condition pour {{j}}</p>
                <input type="text" name="val_{{j}}"/>
                <select name="operation_{{j}}">
                    <option value="nothing"></option>
                    <option value="&lt;=">&lt;=</option>
                    <option value="&gt;=">&gt;=</option>
                    <option value="=">=</option>
                </select>
            </div>
        {% endfor %}
        <br><br>
        <input type="submit" value="Submit" style="border-radius: 20px; padding: 10px 20px; font-family: Arial, sans-serif; font-size: 16px; color: #ffffff; background-color: #1c1723; border: none; cursor: pointer;" onmouseover="this.style.backgroundColor='#45a049';" onmouseout="this.style.backgroundColor='#1c1723';">
    </form>
{% endblock %} 