{% extends 'base.html' %}
{% block title %}Home page{% endblock %}
{% block BIG %}Home page{% endblock %}
{% block content %}
    <h1>Remplir le formulaire</h1>
    <form action="#" method="post">
        <p>Ajouter des variables : </p>
        <div id="variables">
            <input type="text" name='var-0' required>
            <br>
        </div>
        <button type="button" id="addField">Add variable</button><br><br>
        <br>
        <input type="submit" value="Submit" style="border-radius: 20px; padding: 10px 20px; font-family: Arial, sans-serif; font-size: 16px; color: #ffffff; background-color: #1c1723; border: none; cursor: pointer;" onmouseover="this.style.backgroundColor='#45a049';" onmouseout="this.style.backgroundColor='#1c1723';">
    </form>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var counter = 1;
            document.getElementById('addField').addEventListener('click', function() {
                var input = document.createElement('input');
                input.type = 'text';
                input.name = 'var-' + counter;
                input.required = true;
                document.getElementById('variables').appendChild(input);
                document.getElementById('variables').appendChild(document.createElement('br'));
                counter++;
            });
        });
    </script>
{% endblock %} 