{% extends 'base.html' %}
{% block title %}Attributs{% endblock %}
{% block script %}
   <script src="../dynamic.js"></script>
{% endblock %}

{% block content %}
    <h1>Remplir le formulaire</h1>
    <form action="#">
        <div id ="att">
            <p>Ajouter un Attribut</p>
            <input type="text" name='0'> 
            {% for v in variables %}
                <p>Ajouter une valeur pour {{v}}</p>
                <input type="text" name='0'> 
            {% endblock %}
        </div>
        <input type="submit" name="compteur2" value="{{p}}">
        <button type="button" onclick="addatt()">+</button>
    </form>

    <script>

    </script>
{% endblock %} 