{% extends 'base.html' %}
{% block title %}Home page{% endblock %}
{% block script %}
   <script src="../dynamic.js"></script>
{% endblock %}

{% block content %}
    <h1>Remplir le formulaire</h1>
    <form action="#" method="post">
        <div id="var">
            <p>Ajouter une variable : </p>
            <input type="text" name='0'>
        </div>
        <input type="hidden" name="compteur1" value="{{o}}">
        <button type="submit" onclick="addvar()">+</button>
    </form>
{% endblock %} 