{% extends 'base.html' %}
{% block title %}Valers{% endblock %}

{% block content %}
    <h1>Remplir le formulaire</h1>
    <form action="#" method="post">
        <table border="1">
            <tr>
                <td></td>
                {% for k in variables %}
                    <td>{{k}}</td>
                {% endfor %}
            </tr>
            {% for i in range(a) %}
                <tr>
                    <td>
                        <p>{{table_attributs[i]}}</p>
                    </td>
                    {% for j in range(v) %}
                        
                        <td>
                            <input type="text" name='var_{{i}}_{{j}}' style="width: 50px; border-radius: 8px; padding: 8px; border: 1px solid #ccc; background-color: #fff;">
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <br>
        <input type="submit" value="Submit" style="border-radius: 20px; padding: 10px 20px; font-family: Arial, sans-serif; font-size: 16px; color: #ffffff; background-color: #1c1723; border: none; cursor: pointer;" onmouseover="this.style.backgroundColor='#45a049';" onmouseout="this.style.backgroundColor='#1c1723';">
    </form>
{% endblock %} 